---
import '@/styles/globals.css';
import Layout from '@/layouts/Layout.astro';
import HeaderPages from '@/components/HeaderPages.astro';
import services from '@/assets/images/services.webp';
import ServicesHome from '@/components/ServicesHome.astro';
import ChooseUs from '@/components/services/ChooseUsServices.astro';
import Footer from '@/components/Footer.astro';
import Clients from '@/components/portfolio/Clients.astro';
---

<Layout title="Servicios">
    <HeaderPages 
        src={services} 
        phrase="" 
        title="Con años de experiencia en el sector industrial "
        text="Estos son todos nuestros servicios que ofrecemos. Echales un vistazo y empecemos a trabajar juntos." 
    />
    <main>
        <ServicesHome />
        <ChooseUs />
        <Clients />
    </main>
    <Footer />
</Layout>


