---
import '@/styles/globals.css';
import Layout from '../layouts/Layout.astro';
import Footer from '@/components/Footer.astro';
---

<Layout title="JG Servicios & Proyectos Industriales">
	<div class="flex flex-col justify-center items-center text-center h-screen gap-5 px-5">
        <h1 class="text-blueDarker font-semibold text-[28px] md:text-3xl lg:text-[46px]">Page not found</h1>
        <p class="max-w-[520px] text-[17px] text-blueLight text-pretty">Uh oh, we can't seem to find the page you're looking for. Try going back to the previous page or 
            <a href="/contact" class="text-blueMain font-bold">Contact Us </a> 
            for more information
        </p>
        <a class="bg-blueMain px-8 py-4 text-white font-bold hover:bg-black transition-all ease-in delay-100" href="/">
            Go back home
        </a>
	</div>
</Layout>


