@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
	:root {
		--blueMain: #04adbf;
		--blueLight: #3a5682;
		--blueDarker: #0c2d62;
		--blueLighter: #f1f4f9; 
		--white: #fff;
		--black: #000;
		--errorRed: #e70000;
	}
	body {
		font-family: 'Inter Variable', sans-serif;
	}
	.shadowNavbar {
		box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
	}
	#mobileMenu {
		@apply fixed top-0 right-0 w-[95%] h-full bg-white z-50 transform translate-x-full transition-transform duration-300 ease-in-out;
	}
	#mobileMenu.open {
		@apply translate-x-0;
	}

	.gradietnCustom {
		background: rgb(255,255,255);
		background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(241,244,249,1) 50%);
	}

	textarea {
		resize: none;
	}



}
