---
import Container from "../Container.astro";
import ChevronIcon from '@/components/about/ChevronIcon.astro'
---
<Container class="mb-20">
    <div class="text-center flex flex-col items-center mb-8 px-5">
        <h2 class="font-bold text-blueDarker text-[1.75rem] md:text-3xl lg:text-[2.625rem] mb-5">Preguntas frecuentes</h2>
        <p class="text-[#181818] text-[1.063rem] w-full sm:max-w-[420px]">Estas son algunas preguntas frecuentes de nuestros clientes para conocernos mejor</p>
    </div>
    <section class="grid grid-cols-1 md:grid-cols-2 md:items-center"> 
        <div class="mb-4 md:mb-0">

            <details class="group px-[10px]" name="questions">
                <summary class="list-none p-5 border border-[#eeeeee] text-base cursor-pointer font-semibold text-blueLight flex justify-between items-center">
                    <span>¿Cuál es la misión de la empresa?</span>
                    <ChevronIcon />
                </summary>
                <p class="border border-opacity-50 border-[#eeeeee] py-[7px] px-[15px] md:py-[15px] md:px-5 text-base md:text-[17px] text-blueLight transition-max-height duration-300 overflow-hidden max-h-0 group-open:max-h-40">Nuestra misión es crear soluciones prontas para las necesidades industriales, brindando la mejor calidad, respuesta, cooperación, ética profesional e innovación del mercado.</p>
            </details>

            <details class="group px-[10px]" name="questions">
                <summary class="list-none p-5 border border-[#eeeeee] text-base cursor-pointer font-semibold text-blueLight flex justify-between items-center">
                    <span>¿Cuáles son los valores fundamentales de la empresa?</span>
                    <ChevronIcon />
                </summary>
                <p class="border border-opacity-50 border-[#eeeeee] py-[7px] px-[15px] md:py-[15px] md:px-5 text-base md:text-[17px] text-blueLight transition-max-height duration-300 overflow-hidden max-h-0 group-open:max-h-40">Nuestros valores incluyen cooperación, innovación, seguridad, confianza, ética profesional, competitividad y apertura al cambio.</p>
            </details>

            <details class="group px-[10px]" name="questions">
                <summary class="list-none p-5 border border-[#eeeeee] text-base cursor-pointer font-semibold text-blueLight flex justify-between items-center">
                    <span>¿Cuál es la visión de la empresa para el futuro?</span>
                    <ChevronIcon />
                </summary>
                <p class="border border-opacity-50 border-[#eeeeee] py-[7px] px-[15px] md:py-[15px] md:px-5 text-base md:text-[17px] text-blueLight transition-max-height duration-300 overflow-hidden max-h-0 group-open:max-h-40">Nuestra visión es consolidarnos como una empresa líder en servicios de mantenimiento industrial a través de la confianza, innovación y adaptación para lograr la total satisfacción de nuestros clientes.</p>
            </details>

        </div>
        <div>

            <details class="group px-[10px]" name="questions">
                <summary class="list-none p-5 border border-[#eeeeee] text-base cursor-pointer font-semibold text-blueLight flex justify-between items-center">
                    <span>¿Qué tipos de servicios ofrece la empresa?</span>
                    <ChevronIcon />
                </summary>
                <p class="border border-opacity-50 border-[#eeeeee] py-[7px] px-[15px] md:py-[15px] md:px-5 text-base md:text-[17px] text-blueLight transition-max-height duration-300 overflow-hidden max-h-0 group-open:max-h-40">Ofrecemos una amplia gama de servicios, incluyendo instalaciones eléctricas y mecánicas, mantenimiento preventivo y correctivo, fabricación de estructuras metálicas, maquinados, soldadura, y sistemas de gases especiales, entre otros.</p>
            </details>

            <details class="group px-[10px]" name="questions">
                <summary class="list-none p-5 border border-[#eeeeee] text-base cursor-pointer font-semibold text-blueLight flex justify-between items-center">
                    <span>¿Cómo garantiza la empresa la calidad de sus servicios?</span>
                    <ChevronIcon />
                </summary>
                <p class="border border-opacity-50 border-[#eeeeee] py-[7px] px-[15px] md:py-[15px] md:px-5 text-base md:text-[17px] text-blueLight transition-max-height duration-300 overflow-hidden max-h-0 group-open:max-h-40">Contamos con un equipo especializado, utilizamos tecnología de punta y nos mantenemos actualizados con las últimas innovaciones del sector. Además, nuestra política de mejora continua nos permite ofrecer siempre la más alta calidad en nuestros servicios.</p>
            </details>

            <details class="group px-[10px]" name="questions">
                <summary class="list-none p-5 border border-[#eeeeee] text-base cursor-pointer font-semibold text-blueLight flex justify-between items-center">
                    <span>¿Qué ventajas ofrece la empresa frente a sus competidores?</span>
                    <ChevronIcon />
                </summary>
                <p class="border border-opacity-50 border-[#eeeeee] py-[7px] px-[15px] md:py-[15px] md:px-5 text-base md:text-[17px] text-blueLight transition-max-height duration-300 overflow-hidden max-h-0 group-open:max-h-40">Nuestra principal ventaja es la diversificación de servicios, lo que nos permite ofrecer soluciones integrales y costos más competitivos. Además, nuestra experiencia de más de una década en la industria maquiladora nos da un profundo entendimiento de las necesidades específicas de nuestros clientes.</p>
            </details>

        </div>
    </section>
</Container>