---
import { Image } from "astro:assets";
import About from '@/assets/images/About.png'
import Container from "../Container.astro";
---
<Container class="pt-[50px] md:pt-20 flex flex-col md:flex-row gap-4 items-center">
    <div class="relative md:w-1/2 px-5 md:px-3">
        <div class="relative">
            <Image src={About} alt="About Us" class="max-h-[505px] w-auto object-cover object-center" />
        </div>
        <div class="absolute top-3  md:top-4 right-2 sm:right-4 md:right-8 lg:right-32 bg-blueMain py-4 px-12 text-white">
            <h3 class="font-semibold text-center uppercase text-[17px] mt-">12 years of <br>experiences</h3>
        </div>
    </div>
    <div class="md:max-w-[570px] md:w-1/2 px-5">
        <p class="text-[#3a5682] uppercase font-bold text-sm mb-3">LEADING DEVELOPER COMPANY!</p>
        <h2 class="text-blueDarker font-bold text-[28px] md:text-3xl lg:text-[42px] mb-5 text-balance">High quality construction solutions for industries!</h2>
        <p class="text-[17px] pl-[15px] border-l-[3px] border-blueMain text-blueLight">Construction Is A General Term Meaning The Art And Science To Form Objects Systems Organizations, And Comes From Latin</p>
        <p class="text-blueLight text-[17px] mt-10  mb-6 md:mb-8 lg:mb-10">The world is changing faster than ever before, business is no exception, yet those that embrace change are thriving, building bigger stronger products than ever before.</p>
        <a class="px-8 py-4 text-white font-bold bg-blueMain" href="/services">Our Works</a>
    </div>
</Container>