---
import Layout from '../layouts/Layout.astro';
import HeaderPages from '@/components/HeaderPages.astro';
import PageHeader from '@/assets/images/PageHeader.webp';
---

<Layout title="JG Servicios & Proyectos Industriales">
	<HeaderPages 
		src={PageHeader} 
		phrase="Leading developer company!" 
		title="High quality construction"
		title2="solutions for industries!"
		text="Construction Is A General Term Meaning The Art And Science To Form Objects Systems Organizations, And Comes From Latin" 
	/>
	<main>
	</main>
</Layout>


