---
import Layout from "@/layouts/Layout.astro";
import HeaderPages from "@/components/HeaderPages.astro";
import contact from '@/assets/images/contact.webp';
import { ContactForm } from "@/components/contact/Form";
import FooterPage from '@/components/contact/FooterPage.astro'
---
<Layout title="Contacto">
    <HeaderPages 
        src={contact} 
        phrase="Años de experiencia en el sector" 
        title="¿Tiene algún proyecto en mente?"
        text="Envíe un mensaje y empecemos a trabajar juntos. Tenemos un gran servicio al cliente y calidad en nuestro trabajo." 
    />
    <main>
        <!-- <Form />  -->
        <ContactForm client:load  />  
    </main>
    <FooterPage />
    
</Layout>
