---
import '@/styles/globals.css';
import Layout from '../layouts/Layout.astro';
import Header from '@/components/Header.astro';
import MoreAbout from '@/components/MoreAbout.astro';
import ServicesHome from '@/components/ServicesHome.astro';
import ProjectsHome from '@/components/ProjectsHome.astro';
import ChooseUs from '@/components/ChooseUs.astro';
import Carousel from '@/components/Carousel.astro';
import Footer from '@/components/Footer.astro';
---

<Layout title="JG Servicios & Proyectos Industriales">
	<Header />
	<main>
		<MoreAbout />
		<ServicesHome />
		<ProjectsHome />
		<ChooseUs />
		<Carousel />
	</main>
	<Footer />
</Layout>


