---
import Layout from "@/layouts/Layout.astro";
import HeaderPages from "@/components/HeaderPages.astro";
import portfolio from '@/assets/images/portfolio.webp';
import Clients from "@/components/portfolio/Clients.astro";
import ChooseUs from "@/components/ChooseUs.astro";
import Projects from "@/components/portfolio/Projects.astro";
import Footer from "@/components/Footer.astro";
import Carousel from "@/components/Carousel.astro";
---
<Layout title="Nuestro Portafolio">
    <HeaderPages 
        src={portfolio} 
        phrase="Somos una gran opci칩n para nuestros clientes" 
        title="Una opci칩n de confianza en el sector industrial"
        text="Mira m치s de nuestros trabajos que hemos hecho y empecemos a trabajar juntos en tu pr칩ximo proyecto" 
    />
    <main>
        <Clients />
        <ChooseUs />
        <Projects />
        <Carousel />
    </main>
    <Footer />
</Layout>
