---
---

<section class="relative h-[650px] bg-cover bg-center bgImg">
    <div class="absolute inset-0 bg-black opacity-50"></div>
    <section class="relative flex flex-col justify-center max-w-7xl mx-auto h-full gap-5 pl-6 pr-3">
        <p class="text-[#e1e1e1] text-sm">Haciendo sus proyectos realidad</p>
        <h1 class="text-3xl md:text-5xl text-white font-bold max-w-[514px] text-balance">Comprometidos con la máxima calidad y <span class="text-[#04adbf]">resultados!</span></h1>
        <p class="text-sm md:text-[17px] text-white max-w-[400px] ">Ofrecemos soluciones integrales para la industria desde 2013. Nuestra amplia experiencia y diversidad de servicios nos permiten brindar calidad y eficiencia en cada proyecto.</p>
        <a class="bg-[#04adbf] px-6 py-3 text-white  text-center font-semibold w-full sm:w-fit hover:bg-black transition-all ease-in delay-25" href="/services">Mire nuestros servicios</a>
    </section>
</section>
