---
import Container from "@/components/Container.astro"
import ServiceCard from "./services/ServiceCard.astro"

const allServices = await Astro.glob('@/pages/services/*.md')

---
<section class="bg-[#f1f4f9] w-full py-12 md:py-20">
    <Container class="flex flex-col gap-8 px-3">
        <div class="text-center flex flex-col items-center">
            <p class="uppercase text-sm text-blueLight font-bold mb-4">Con la mejor calidad posible</p>
            <h2 class="text-[1.75rem] md:text-3xl lg:text-[2.625rem] text-blueDarker font-bold mb-4">Nuestros servicios</h2>
            <p class="text-[1.063rem] text-pretty md:max-w-[460px] text-black">Todos nuestros servicios cuentan y los hacemos con la mejor calidad posible. Nuestros años en la industria nos respaldan.</p>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
            {
                allServices.map((service) => (
                    <ServiceCard frontmatter={service.frontmatter} url={service.url} />
                ))
            }
        </div>
    </Container>
</section> 

