---
import { Image } from "astro:assets"
import Container from "@/components/Container.astro"
import dumpTruck from "@/assets/icons/dumpTruck.svg"
import concretePump from "@/assets/icons/concretePump.svg"
import forklift from "@/assets/icons/forklift.svg"
import manipulatorTruck from "@/assets/icons/manipulatorTruck.svg"
import loader from "@/assets/icons/loader.svg"
import bulldozer from "@/assets/icons/bulldozer.svg"

const Services = [
    {
        name: 'Construction',
        description: 'Construction is a general term meaning the art and industrial science of old french construction.',
        link: '/home',
        icon: dumpTruck
    },
    {
        name: 'Renovation',
        description: 'Our renovation services include remodeling, repair, and restoration of existing structures. We provide high-quality workmanship and attention to detail.',
        link: '/home',
        icon: concretePump
    },
    {
        name: 'Interior Design',
        description: 'Interior design is the art and science of enhancing the interior of a building to achieve a healthier and more aesthetically pleasing environment for the people using the space.',
        link: '/home',
        icon: forklift
    },
    {
        name: 'Construction Building',
        description: 'Construction building involves the process of constructing new buildings and structures. It includes activities such as site preparation, foundation work, framing, and finishing. ',
        link: '/home' ,
        icon: manipulatorTruck  
    },
    {
        name: 'Design Estimating',
        description: 'Design estimating involves calculating the costs and quantities of materials, labor, and other resources required for a design project. It helps in determining the feasibility and budget of the project.',
        link: '/home',
        icon: loader
    },
    {
        name: 'General Transport',
        description: 'We provide general transport services for construction and renovation projects. We have a wide range of vehicles available.',
        link: '/home',
        icon: bulldozer   
    }
]
---
<section class="bg-[#f1f4f9] w-full py-12 md:py-20">
    <Container class="flex flex-col gap-8 px-3">
        <div class="text-center flex flex-col items-center">
            <p class="uppercase text-sm text-blueLight font-bold mb-4">Services we provide!</p>
            <h2 class="text-[1.75rem] md:text-3xl lg:text-[2.625rem] text-blueDarker font-bold mb-4">Construction Services</h2>
            <p class="text-[1.063rem] text-pretty md:max-w-[460px]">Construction is a general term meaning the art and industrial science of old french construction.</p>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
            {Services.map((service) => (
                <div class="flex items-start gap-5 bg-white p-6 rounded-lg shadow-md">
                    <Image src={service.icon} alt="Illustration" width={64} height={64} />
                    <div>
                        <h3 class="text-xl font-semibold text-blueDarker mb-3">{service.name}</h3>
                        <p class="text-gray-600 mb-4">{service.description}</p>
                        <a href={service.link} class="text-blueMain font-medium hover:underline ">Learn More</a>
                    </div>
                </div>
            ))}
        </div>
    </Container>

</section>