---
import '@/styles/globals.css';
import '@fontsource-variable/inter';
import Navbar from '@/components/Navbar.astro';
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/favicons/NegroAzul.png" media="(prefers-color-scheme: no-preference)" type="image/png" /> 
		<link rel="icon" href="/favicons/BlancoAzul.png" media="(prefers-color-scheme: dark)" type="image/png" /> 
		<link rel="icon" href="/favicons/NegroAzul.png" media="(prefers-color-scheme: light)" type="image/png" /> 
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Navbar />
		<main class="flex flex-col flex-1">
			<slot />

		</main>
	</body>
</html>

